In [1]:
import requests
import os
import pandas as pd
from bs4 import BeautifulSoup
import json
from time import sleep
from tqdm.auto import tqdm

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63',
          }

In [3]:
site = requests.get('https://www.timeanddate.com/holidays/?allcountries',
                   headers=headers,)

In [4]:
soup = BeautifulSoup(site.content)

In [17]:
# countries_urls = ["https://www.timeanddate.com"+x.find('a')['href'] for x in soup.find("article", {'class':'category-list'}).findAll('li')]
countries_urls = ["https://www.timeanddate.com/holidays/philippines/"]

In [18]:
years = ["2018","2019", "2020", "2021", "2022"]

In [29]:
all_dfs = []

In [ ]:
for country_url in tqdm(countries_urls[:]):
    print(country_url, end=" => ")
    for year in years:
        web_url = country_url + year
        try:
            df = pd.read_html(web_url)[0]#.dropna()
        except ValueError:
            continue
        if len(df.columns) == 4:
            df['Details'] = ""
        df['Details'] = ""
        df.columns = ["Date", "Day", "Name", "Type" , "Details"]
        df['Country'] = country_url.split("/")[-2].capitalize()
        df['Year'] = year
        print(df.shape[0], end=", ")
#         df.columns = ['Date', 'Day', 'Name', 'Type', 'Country', 'Year']
        all_dfs.append(df)
        del df
    print()
        
#         break
#     break

  0%|          | 0/1 [00:00<?, ?it/s]

https://www.timeanddate.com/holidays/philippines/ => 45, 48, 48, 44,

In [28]:
pd.read_html(web_url)[0]#.dropna()

,Date,Unnamed: 1_level_0,Name,Type,Details
,Date,Unnamed: 1_level_1,Name,Type,Details
0,1 Jan,Saturday,New Year's Day,Regular Holiday,NaN
1,23 Jan,Sunday,First Philippine Republic Day,Special Working Public Holiday,NaN
2,NaN,NaN,NaN,NaN,NaN
3,1 Feb,Tuesday,Chinese Lunar New Year's Day,Special Non-working Holiday,NaN
4,25 Feb,Friday,People Power Anniversary,Special Non-working Holiday,NaN
5,NaN,NaN,NaN,NaN,NaN
6,1 Mar,Tuesday,Lailatul Isra Wal Mi Raj,Common local holiday,NaN
7,20 Mar,Sunday,March Equinox,Season,NaN
8,NaN,NaN,NaN,NaN,NaN
9,9 Apr,Saturday,The Day of Valor,Regular Holiday,NaN
10,14 Apr,Thursday,Maundy Thursday,Regular Holiday,NaN
11,15 Apr,Friday,Good Friday,Regular Holiday,NaN
12,16 Apr,Saturday,Black Saturday,Special Non-working Holiday,NaN
13,17 Apr,Sunday,Easter Sunday,Observance,NaN
14,NaN,NaN,NaN,NaN,NaN
15,1 May,Sunday,Labor Day,Regular Holiday,NaN
16,3 May,Tuesday,Eidul-Fitar,Regular Holiday,NaN
17,NaN,NaN,NaN,NaN,NaN
18,12 Jun,Sunday,Independence Day,Regular Holiday,NaN
19,21 Jun,Tuesday,June Solstice,Season,NaN
20,NaN,NaN,NaN,NaN,NaN
21,10 Jul,Sunday,Eid al-Adha (Feast of the Sacrifice) (Tentativ...,Regular Holiday,NaN
22,11 Jul,Monday,Eid al-Adha Day 2 (Tentative Date),Common local holiday,NaN
23,30 Jul,Saturday,Amun Jadid,"Muslim, Common local holiday",NaN
24,NaN,NaN,NaN,NaN,NaN
25,21 Aug,Sunday,Ninoy Aquino Day,Special Non-working Holiday,NaN
26,29 Aug,Monday,National Heroes Day,Regular Holiday,NaN
27,NaN,NaN,NaN,NaN,NaN
28,3 Sep,Saturday,Yamashita Surrender Day,Special Working Public Holiday,NaN
29,8 Sep,Thursday,Feast of the Nativity of Mary,Special Working Public Holiday,NaN
30,23 Sep,Friday,September Equinox,Season,NaN
31,NaN,NaN,NaN,NaN,NaN
32,8 Oct,Saturday,Maulid un-Nabi,Common local holiday,NaN
33,NaN,NaN,NaN,NaN,NaN
34,1 Nov,Tuesday,All Saints' Day,Special Non-working Holiday,NaN
35,2 Nov,Wednesday,All Souls' Day,Observance,NaN
36,30 Nov,Wednesday,Bonifacio Day,Regular Holiday,NaN
37,NaN,NaN,NaN,NaN,NaN
38,8 Dec,Thursday,Feast of the Immaculate Conception,Special Non-working Holiday,NaN
39,22 Dec,Thursday,December Solstice,Season,NaN
40,24 Dec,Saturday,Christmas Eve,Observance,NaN
41,25 Dec,Sunday,Christmas Day,Regular Holiday,NaN
42,30 Dec,Friday,Rizal Day,Regular Holiday,NaN
43,31 Dec,Saturday,New Year's Eve,Special Non-working Holiday,NaN

In [10]:
countries_urls.index(country_url)

0

In [10]:
df = pd.concat(all_dfs)

In [12]:
df

Empty DataFrame
Columns: [Date, Day, Name, Type, Details, Country, Year]
Index: []

In [11]:
# df.reset_index().drop(['index'], axis=1).to_excel('Holidays Data.xlsx', index=False)

In [20]:
df['Date'] = df['Date_'] + " " + df['Year']

In [24]:
df.Date =  df.Date.apply(lambda x: datetime.strptime(x, '%d %b %Y'))

In [30]:
df.to_excel('temp.xlsx', index=False)

In [ ]:
import requests
import os
import pandas as pd
from bs4 import BeautifulSoup
import json
from time import sleep
from tqdm.auto import tqdm

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63',}
site = requests.get('https://www.timeanddate.com/holidays/?allcountries', headers=headers,)
soup = BeautifulSoup(site.content)

# urls of all the countries
countries_urls = ["https://www.timeanddate.com"+x.find('a')['href'] for x in soup.find("article", {'class':'category-list'}).findAll('li')]

# the years we want to extract. you can change this and use the years you want.
years = ["2018","2019", "2020", "2021", "2022"]

all_dfs = []
for country_url in tqdm(countries_urls): # country loop
    print(country_url, end=" => ") 
    for year in years: # year loop
        
        web_url = country_url + year
        try:
            df = pd.read_html(web_url)[0].dropna()
        except ValueError: # in case there is not tables in the website
            continue
        if len(df.columns) == 4:
            df['Details'] = ""
        df.columns = ["Date", "Day", "Name", "Type" , "Details"]
        df['Country'] = country_url.split("/")[-2].capitalize()
        df['Year'] = year
        all_dfs.append(df)
        
        print(df.shape[0], end=", ")
        del df 
    print()
        
#         break
#     break


df = pd.concat(all_dfs)
df.reset_index().drop(['index'], axis=1).to_excel('Holidays Data.xlsx', index=False)